.background-image-container {
  /* background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
    ),url(cows-in-field.jpg);
  width: 100%;
  height: calc(width * 2);
  height: 500px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.background-image-container {
  background-color: #F8F8F8;
  margin-bottom: 0;
}

.navbar-background {
  margin: auto;
}

.logo-img {
  border-radius: 100%;
}

/* .smiley-container {
  line-height: 120px;
  text-align: center;
  vertical-align: middle;
} */

.smiley-img {
  /* height: 120px; */
  max-height: 70px;
  width: auto;
  margin: 25px 10px 25px 0;
  /* padding: 5px; */
}

.brand-title {
  line-height: 60px;
}

.carousel-item {
  max-height: 600px;
  width: 100%;
}

.mobile-icon {
  width: 10px;
  height: .9em;
}

.section-title {
  text-align: center;
  line-height: 4rem;
}

.practical-stuff {
  width: 80%;
}

.contact-information a {
  color: #2c3e50;
}

a:hover {
  color: black;
}


.about, .shop {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
}

.about {
  padding: 10px 0 30px;
}

.photo-container {
  text-align: center;
}

.profile-picture {
  max-width: 100%;
  border-radius: 100%;
  margin-bottom: 20px;
  /* margin: 0 auto 20px; */
  max-height: 300px;
}

.shop {
  padding-top: 20px;
}

.dark-background {
  background-color: linear-gradient(black, grey);
  height: 400px;
  opacity: 0.95;
}

.shop-background {
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
    ),url(facade.jpeg);

  /* background-image: url(thick-meat-cuts.jpg); */

  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 20px 0;
}

.footer {
  background-color: grey;
  height: 120px;
}

.footer .logo-img {
  /* height: 120px; */
  max-height: 120px;
  max-width: 120px;
  width: 100%;
  padding: 5px;
}
